body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.main {
  padding: 5%;
}

.image-container img {
  width: 150%;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-size: contain;
  grid-gap: 30px 30px;
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 20px;
  transition: 0.6s;
  box-shadow: 4px 4px 7px rgb(204, 201, 201);
  height: 50rem;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(204, 201, 201);
  border-radius: 10px;
  border: 2px solid rgb(3, 155, 104);
}
.product-image {
  width: 12rem;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.bold-text {
  font-weight: bold;
}

.rating-bg {
  background-color: gold;
  border-radius: 20px;
  width: 10rem;
  padding: 2%;
  margin: 0 auto;
}

.card-body-style {
  margin-bottom: -10px;
}
.card-footer-style {
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
